body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
}

.box {
  display: block;
  width: 100px;
  height: 200px;
  background-color: var(--color-shockingly-green);
}